.movie {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 40px;

  @media(max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &__poster {
    max-width: 100%;
    object-fit: cover;
  }

  &__title {
    font-weight: 600;
    font-size: 36px;
    color: #fff;
  }

  &__meta {
    margin-top: 10px;
    color: #edf2f7;
    font-size: 16px;
    font-weight: 400;

    & > * + * {
      margin-top: 6px;
    }
  }

  &__plot {
    margin-top: 20px;
    color: #e2e8f0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
  }
}

.loader {
  font-size: 48px;
  text-align: center;
  color: #fff;
}

.error {
  color: #fc8181;
  font-weight: 600;
}
