.movies {
  &__title {
    font-size: 64px;
    text-align: center;
    color: #fff;
  }

  &__search-form {
    margin-top: 30px;
  }
  &__grid {
    margin-top: 40px;
  }

  &__loader {
    margin-top: 20px;
  }

  &__error {
    margin-top: 30px;
  }
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px 30px;

  &__link {
    text-decoration: none;
  }

  &__poster {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }

  &__title {
    color: #fff;
    font-weight: 600;
    line-height: 1.5;
  }

  &__meta {
    margin-top: 10px;
    color: #edf2f7;
    font-size: 16px;
    font-weight: 400;

    & > * + * {
      margin-top: 3px;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    &::ng-deep .ngx-pagination {
      padding: 0;
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 400px) {
    grid-template-columns: 1fr;
  }
}

.search-form {
  &__input {
    background: #2c5282;
    color: #fff;
    width: 100%;
    font-size: 24px;
    outline: none;
    padding: 18px 12px;
    border-radius: 8px;
    border-width: 3px;
    border-color: transparent;
    border-style: solid;

    &:focus {
      border-color: #2b6cb0;
    }

    &::placeholder {
      color: #cbd5e0;
    }
  }
}

.loader {
  font-size: 48px;
  text-align: center;
  color: #fff;
}

.error {
  color: #fc8181;
  font-weight: 600;
}
