<div class="movies">
  <form class="movies__search-form">
    <input
      name="search"
      autofocus
      class="search-form__input"
      type="text"
      (keyup.enter)="onSearch(search.value)"
      placeholder="Movie title..."
      #search
    />
  </form>
  <ng-container *ngIf="!(errorMsg$ | async); else error">
    <div
      *ngIf="(movies$ | async) && !isLoading; else loader"
      class="movies-grid movies__grid"
    >
      <div
        *ngFor="
          let movie of movies$
            | async
            | paginate
              : {
                  id: 'movies-pagination',
                  itemsPerPage: perPage,
                  currentPage: currentPage,
                  totalItems: totalMovies
                }
        "
        class="movies-grid__item"
      >
        <a class="movies-grid__link" [routerLink]="['/movies/' + movie.imdbID]">
          <img
            [src]="movie.Poster"
            [alt]="movie.Title"
            class="movies-grid__poster"
          />
          <div class="movies-grid__title">
            {{ movie.Title }}
          </div>
          <div class="movies-grid__meta">
            <div>Year: {{ movie.Year }}</div>
            <div>Type: {{ movie.Type }}</div>
          </div>
        </a>
      </div>
    </div>

    <pagination-controls
      class="movies-grid__pagination"
      *ngIf="(movies$ | async)?.length > 0"
      (pageChange)="onPageChange($event)"
      id="movies-pagination"
    ></pagination-controls>
  </ng-container>
</div>

<ng-template #error>
  <div class="error movies__error">Error: {{ errorMsg$ | async }}</div>
</ng-template>
<ng-template #loader>
  <div class="loader movies__loader">Loading...</div>
</ng-template>
